<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <script src='/javascripts/bower_components/jquery/dist/jquery.js'></script>
    <script src='/javascripts/qs/dist/qs.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="core-js/client/shim.min.js"></script>
    <script src="zone.js/dist/zone.js"></script>
    <script src="reflect-metadata/Reflect.js"></script>
    <script src="systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="app/app.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
<my-app>Loading...</my-app>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>
